@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
}

/* INTRO ANIMATION FOR THE PAGE */

.intro-animation {
  /* background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); */
  background-color: rgb(16, 16, 16);
  /* border: 1px solid white; */
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease-out;
  z-index: 99 !important;
}
.intro-box {
  position: absolute;
}
.intro-logo {
  position: relative;
  display: inline-block;
  bottom: 20px;
  opacity: 0;
  font-weight: 600;
}
.intro-logo.active {
  bottom: 40px;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.intro-logo.fade {
  bottom: 40px;
  opacity: 0;
  transition: 0.7s ease-in-out;
}
@media (min-width: 1000px) {
  .intro-logo {
    font-size: 7rem !important;
  }
}

/* STARTING OF THE MAIN PAGE */

.mainPage {
  font-family: "Poppins", sans-serif !important;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100%;
}
.main {
  width: 90%;
}

/* ----NAVBAR---- */
.img-logo {
  height: 3.5rem;
  cursor: pointer;
}
.txt-logo {
  background: #1c9ff3;
  background: radial-gradient(
    circle farthest-corner at bottom left,
    #1c9ff3 0%,
    #a301e6 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feedback:hover {
  color: #8cb6ff !important;
  opacity: 0.7;
}
.btn {
  width: 11rem;
  background: #1c9ff3;
  background: radial-gradient(
    circle farthest-corner at bottom left,
    #1c9ff3 0%,
    #a301e6 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.363) !important;
}
.itemsNav {
  gap: 2rem;
}
